.tooltip-content  {
	border:1px solid red,
}

.tutorial {
    position: absolute;
    width: 40%;
    z-index: 99;
    display:block;
    background: #2b2b2b;
    
}

.tooltip-text {
    font-size: 15px !important;
    color:#fff !important;
    word-wrap: break-word;
}


.tutorial-1 {
    top: 6%;
    left: 1%;
}

.tutorial-2 {
    top: 0%;
    left: 50%;
    white-space: normal;
}

.tutorial-3 {
    top: 3%;
    left: 1%;
}

.tutorial-4 {
    bottom: 11%;
    left: 59%;
}

.tutorial-5 {
    top: 6%;
    left: 1%;
}

.tutorial-6 {
    bottom: 11%;
    right: 5%;
}

.tutorial-7 {
    top: 6%;
    left: 1%;
}

.tutorial-8 {
    top: 6%;
    right: 5%;
}


.tooltip-content {
    position: relative;
    display: block;
    padding: 15px;
}

.tooltip-text::after {

    content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-top: solid 10px #2b2b2b;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;

}


/* radio button css */

.radio-button,
.checkbox {
  position: relative;
  margin: 20px 0;
}


.checkbox { display: block; }

.radio-button input,
.checkbox input {
  position: absolute;
  margin: 5px;
  padding: 0;
  /* for mobile accessibility (iOS Label Bug) */
  visibility: hidden;
}
.radio-button .label-visible,
.checkbox .label-visible {
  margin-left: 2em;
  margin-bottom: 0;
}

.fake-radiobutton,
.fake-checkbox{
  position: absolute;
  display: block;
  top: 0;
  left: 3px;
  width: 20px;
  height: 20px;
  border: 1px solid slategray;
  background-color: white;
}
.fake-radiobutton:after,
.fake-checkbox:after {
  content: "";
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  background: #2ecc71;
  transform: translateX(-50%) translateY(-50%);
}

.fake-radiobutton { border-radius: 50%; }
.fake-radiobutton:after { border-radius: 50%; }

input[type="radio"]:checked + span .fake-radiobutton:after,
input[type="checkbox"]:checked + span .fake-checkbox:after { display: block; }


.lengkapi {
  display:inline-block;text-align:right; float:right;
}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/


@media (min-width: 320px) and (max-width: 480px) {
  
  .radio-button, .checkbox {
    position: relative;
    margin: 15px 0 !important;
    display: block;
  }

  .badge-inverse-danger {
    font-size:13px;
  }

  .lengkapi {
    display:block;text-align:left; float:none;
  }
   
  
}